@{
    ViewBag.Title = "Explore";
    Layout = "~/Views/Shared/_Skeleton.cshtml";
}

@section Head {
    <style type="text/css">
        body { padding-top: 60px; }
    </style>
}

<h1>3D canvas here</h1>
<canvas></canvas>