@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Skeleton.cshtml";
}

@section Head {
    <style type="text/css">
        body { padding-top: 60px; }
    </style>
}

<h2>Contact</h2>
<p>Twitter: <a href="www.twitter.com/mattmattmatt">@@mattmattmat</a></p>
<p>Email: <a href="mailto:matthew.mihok@niewma.com">matthew dot mihok at niewma dot com</a></p>
<p>IRC: Freenode / #spaceapps, #spaceapps_virtualHORIZON (project room)</p>