@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Skeleton.cshtml";
}

@section Head {
    <style type="text/css">
        body { padding-top: 60px; }
    </style>
}

<h2>Contact</h2>

<h4>Matthew Mihok</h4>
<p>Twitter: <a href="http://www.twitter.com/mattmattmatt">@@mattmattmat</a></p>
<p>Email: <a href="mailto:matthew.mihok@niewma.com">matthew dot mihok at niewma dot com</a></p>
<p>IRC: <a href="http://webchat.freenode.net/" target="_blank">Freenode</a> / #spaceapps, #spaceapps_virtualHORIZON (project room)</p>

<h4>Christos Porios</h4>
<p>Email: <a href="mailto:christos.porios@gmail.com">christos dot porios at gmail dot com</a></p>