<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta property="og:title" content="‘Join the army,’ they said! ‘See the world,’ they said! I’d rather be sailing the solar system."/>
    <meta property="og:image" content="http://nasa.apphb.com/Content/Images/temp.jpg"/>
    <meta property="og:site_name" content="NASA-EX"/>
    <meta property="og:description" content="International SpaceApps Challenge Project site"/>
    <title>@ViewBag.Title</title>
    @{ Html.RenderPartial("Modules/Stylesheets"); }
    @RenderSection("Head", false)
</head>

<body>
    <div id="top"><a name="top"></a></div>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/" title="National Aeronautics and Space Administration Explorer Experiment">NASA-EX</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="/about">About</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    @RenderBody()
    @{ Html.RenderPartial("Modules/Javascript"); }
    @if (IsSectionDefined("Javascript"))
    {
        @RenderSection("Javascript", false)
    }
    
    @{ Html.RenderPartial("Modules/Analytics"); }
</body>
</html>
